.container-fluid {
    background-color: #000000;
    padding: 1rem;
    color: white; /* Makes all text white */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
}

.col-6 {
    margin-bottom: 1rem;
}

/* Ensure all text appears white */
h5, h6, p {
    color: white; 
}

h2 {
    color: rgb(255, 255, 255); 
}

.nav {
    list-style: none;
}

/* Make sure links are white */
.nav-link {
    text-decoration: none;
    color: white !important;
    padding: 0.25rem 0;
    display: block;
}

/* Bottom border text color */
.border-top {
    margin-top: 1rem;
    border-top: 1px solid #777;
    padding-top: 1rem;
    text-align: center;
    font-size: 14px;
    margin-bottom: 1rem;
    color: white;
}
